<div class="body">
	<div class="container">
		<p class="notice"></p>
        <p><%= flash[:notice] %></p>
		<h2>User info</h2>
		<%= form_for(@user) do |f| %>
			<% if @user.errors.any? %>
              <div id="error_explanation">
                <h3>
                  <%= I18n.t("errors.messages.not_saved",
                             count: @user.errors.count,
                             resource: @user.class.model_name.human.downcase)
                   %>
                </h3>
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
		    <div class="field">
		    	<label for="user_name">Name</label>
		    	<%= f.text_field :username, class: "name" %>
		    </div>
		    <div class="field">
		    	<label for="user_image">Image</label>
		    	<%= f.attachment_field :image, class: "user-edit-form user_image" %>
		    </div>
		    <div class="field">
		    	<label for="user-introduction">Introduction</label>
		    	<%= f.text_area :introduction, class: 'introduction', id: 'user-introduction' %>
		    </div>
		    <div class="actions">
		    	<%= f.submit 'Update User', class: "update-user" %>
		    </div>
		<% end %>
	</div>
</div>