<div class="body">
	<div class="container">
		<p class="notice"></p>
    	<p><%= flash[:notice] %></p>
		<% if @book.errors.any? %>
		  <div id="error_explanation">
		    <h3>
		      <%= I18n.t("errors.messages.not_saved",
		                 count: @book.errors.count,
		                 resource: @book.class.model_name.human.downcase)
		       %>
		    </h3>
		    <ul>
		      <% @book.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		    </ul>
		  </div>
		<% end %>
		<div class="row">
			<%= render 'books/list', user: @user, book: @book %>
			<div class="col-xs-9">
				<h2>Books</h2>
				<table class="table table-hover table-inverse">
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Opinion</th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<tbody>
						<% @books.each do |book| %>
							<tr id="ajax-post">
						    <td>
									<%= link_to user_path(@user), class: "user_#{@user.id}" do %>
										<%= attachment_image_tag book.user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %><br>
										<%= @user.username %>
									<% end %>
									<div id="likes_buttons_<%= book.id %>">
										<%= render 'favorites/like', book: book %>
									</div>
								</td><br>
								<%= render 'book', book: book, favorites: @favorites %>
							</tr>
						<% end %>



					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>